*,
body {
    margin: 0;
    padding: 0;
}

main {
    background-color: #004645;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-text {
    color: #ffffff;
    font-family: Inter;
    font-size: 100px;
    font-weight: 1000;

    opacity: 0;
    transform: perspective(500px) translateZ(100px) rotateX(10deg);
    filter: blur(5px);
    
    animation: textReveal 1.5s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

.main-text-big {
    color: #ffffff;
    font-family: Inter;
    font-size: 120px;
    font-weight: 1000;

    opacity: 0;
    transform: perspective(500px) translateZ(100px) rotateX(10deg);
    filter: blur(5px);
    
    animation: textReveal 1.5s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes textReveal {
    0% {
        opacity: 0;
        transform: perspective(500px) translateZ(200px) rotateX(15deg);
        filter: blur(10px);
    }
    50% {
        opacity: 0.7;
        filter: blur(3px);
    }
    100% {
        opacity: 1;
        transform: perspective(500px) translateZ(0) rotateX(0);
        filter: blur(0);
    }
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 40, 34, 0.9);
    z-index: -1;
    animation: fadeOutBackground 1.2s ease-out forwards;
}

@keyframes fadeOutBackground {
    to {
        opacity: 0;
    }
}

/* Анимация исчезновения для перехода */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-30px);
    }
}

/* Анимация появления для main.html */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}